/* ==========================================================================
General page styles
========================================================================== */
$home-padding: 0 40px;
$banner-background: linear-gradient(to bottom, rgba(112, 225, 245, 0.3), rgb(255, 209, 148, 0.3));

/* ==========================================================================
Color schema
========================================================================== */
$dark-blue: #06142e;
$light-blue: #1b3358;
$violet: #473e66;
$pink: #bd83b8;
$cream: #f0d9dc;
$light-orange: #f1916d;
$yellow: #ffbf00;
$grey-background: #f2f6fa;
$grey-text: #b7b7b7;
