@import 'app/scss-variables';
/* ==========================================================================
Main page styles
========================================================================== */

.home-banner {
  padding: $home-padding;
  min-height: 90vh;
  background: $banner-background;
  g,
  ellipse {
    transform-box: fill-box;
  }
  h1 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 16px;
    margin-top: 5px;
    font-weight: 600;
  }
  p {
    margin-bottom: 35px;
    font-size: 1.1rem;
    line-height: 28px;
    color: $dark-blue;
  }
}

.home-func-wrapper {
  text-align: center;
  padding: 2rem 10px;
  #col {
    min-height: 400px;
    height: 100%;
    .image {
      height: 220px;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: 62px;
    }
    h3 {
      font-size: 1.7rem;
      margin-bottom: 24px;
      color: $light-blue;
    }
    p {
      padding: 0 10px 35px 10px;
      font-size: 1.1rem;
      line-height: 25px;
      color: $dark-blue;
    }
  }
}

.line {
  width: 50px;
  height: 2px;
  display: block;
  background: $yellow;
  margin: 16px auto 72px auto;
}

.home-serve-wrapper {
  text-align: center;
  padding: 2rem 0;
  background-color: $light-grey;
  .home-layout {
    min-height: 100%;
    #col {
      .content-wrapper {
        border-radius: 4px;
        background: #fff;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 24px 20px;
        min-height: 330px;
        .icon-hover {
          opacity: 0.7;
          transition: opacity 0.45s;
        }
        &:hover {
          .icon-hover {
            opacity: 1;
          }

          p {
            color: fade(#000000, 65);
          }
        }
      }
      .home-hover {
        border: 1px solid #e9e9e9;
        transition:
          transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1),
          box-shadow 0.45s cubic-bezier(0.645, 0.045, 0.355, 1),
          border 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 2px 24px fade(#000, 10);
          border-color: #fff;
        }
      }
      .image {
        width: 32px;
        height: 32px;
        margin: 8px auto 12px auto;
      }
      h3 {
        font-size: 1.5rem;
        margin-bottom: 24px;
        color: $light-blue;
      }
      p {
        margin-bottom: 12px;
        color: $dark-blue;
        transition: color 0.3s;
        font-weight: 400;
        font-size: 1.1rem;
      }
    }
  }
}

.background-white {
  background-color: #fff;
}

.home-banner .home-banner-btn {
  padding: 6.5px 40px;
}
